<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asus.classroompresentation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/RobotDevTheme">
        <meta-data
            android:name="zenbo_ds_domainuuid"
            android:value="1F421529B8854DC2B34D951C55F52D7D" />
        <meta-data
            android:name="zenbo_ds_version_1F421529B8854DC2B34D951C55F52D7D"
            android:value="0.0.1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.asus.intent.category.ZENBO" />
                <category android:name="com.asus.intent.category.ZENBO_LAUNCHER" />

                <!-- please comment out the following line when you want to launch to Zenbo App Store -->
                <!-- See Zenbo Developer Web: Zenbo-SDK-Getting-Started: Important notes on Zenbo APP developing -->
                <category android:name="android.intent.category.LAUNCHER" />
                <data android:name="com.asus.intent.data.MIN_ROBOT_API_LEVEL.1" />
            </intent-filter>
        </activity>
    </application>

</manifest>